__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
pip-log.txt
pip-delete-this-directory.txt

.env
.venv
venv/
env/
ENV/
virtualenvs/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
.idea/
.DS_Store
*.sublime-*
